:root {
  --grey: rgb(83, 82, 82);
  --primary-dark: #1a374d;
  --primary-mid-dark: #406882;
  --primary-mid-light: #6998ab;
  --primary-light: #b1d0e0;
}

body {
  position: fixed;
  top: 0px;
  left: 0px;
  width: 100vw;
  height: 100vh;
  overflow: auto;
  padding: 0px;
}

div {
  border-radius: 12px;
}

p {
  color: var(--primary-light);
  font-size: 26px;
  font-family: "Roboto Mono", monospace;
  margin: 12px;
}

.div-container {
  background-color: rgb(34, 32, 32);
  padding: 1rem;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  width: 275px;
  margin: auto;
  margin-top: 4rem;
  grid-gap: 10px;
}

.grid-item {
  background-color: var(--grey);
  display: flex;
  justify-content: center;
  align-items: center;
}

.display {
  min-height: 100px;
  background-color: var(--grey);
  grid-column: 1 / 5;
  margin-bottom: 2rem;
}

.clear {
  grid-column: 1 / 3;
}

.delete {
  grid-column: 3 / 5;
}

.operation {
  background-color: var(--primary-mid-light);
}

.top-row {
  background-color: var(--primary-mid-dark);
}

.equals {
  background-color: var(--primary-mid-dark);
}

.clickElement {
  cursor: pointer;
  border-radius: 100px;
}

.clickElement:hover {
  background-color: grey;
}

.clickElement:hover > p {
  color: orange;
}

.footer > p {
  margin-top: 2rem;
  font-size: 18px;
  color: var(--grey);
  text-align: center;
}
